*{
-webkit-touch-callout:none;
-webkit-tap-highlight-color: transparent;
-webkit-user-select: none;
}
html{
	margin: 0;
	padding: 0;
	background:linear-gradient(#605ca1,#58a2a7);
	/*min-width: 340px;*/
	width: 100%;
	min-height: 150vw;
}
@media(max-device-aspect-ratio:3/5){
	html{
		min-height:200vw;
	}
} 

body{
	width: 100%;
	height: 100%;
	position: relative;
	background: transparent;
	margin: 0;
	padding: 0;
  	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  	margin:0;
  	color:#FFF;
 
}
#nav{
	position: relative;
	height: 40px;
	font-size: 20px;
}
#nav #back{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 100%;
	z-index: 999;
}
#nav #back img{
	display: block;
	position: absolute;
	width: 11px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -5.5px;
}
#nav .title{
	display: block;
	position: absolute;
	width: 100%;
	height: 24px;
	top: 50%;
	left: 0;
	margin: -12px 0 0 0;
	text-align: center;
	line-height: 24px;
}
#nav #return{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	z-index: 999;
	opacity: 0;
}
#nav #return img{
	position: absolute;
	width: 20px;
	height: 20px;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -10px;
}
.main_0{
	/*display: none;*/
	position: relative;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -10;
	/*tranform:scale3D(0.4,0.4,0.4);*/
}


.main_0 .center{
	position: relative;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	min-height: 260px;
	min-width: 250px;
	margin: 0 0 0 0;
}
.main_0 .center .circle{
	position: absolute;
	width: 250px;
	height: 250px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	margin: -125px 0 0 -125px;
	background-color: rgba(255,255,255,.2);
}
.main_0 .center .circle .logo{
	display: block;
	position: absolute;
	width: 62px;
	height: 150px;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -31px;
}
.main_0 .btn{
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	width: 100%;
	height: 50%;
	text-align: center;
}
.main_0 .btn .btns{
	display: none;
	list-style: none;
	margin: 30% 10px 0 10px;
	padding: 0;
	display: inline-block;
	width: 60px;
	height: 90px;
	position: relative;
}
@media screen and (max-width: 334px){
	.main_0 .btn .btns{
		margin: 30% 5px 0 5px;
	}
}
@media screen and (max-width: 296px){
	.main_0 .btn .btns{
		margin: 30% 2px 0 2px;
	}
}
.main_0 .btn .btns img{
	display: block;
	position:absolute;
	width: 100%;
	height:60px;
}
.main_0 .btn .btns span{
	display: block;
	position:absolute;
	width: 100%;
	height: 30px;
	text-align: center;
	top: 60px;
	left: 0;
	line-height: 30px;
	font-size: 18px;
	overflow: hidden;
}

.little{
	opacity: 1;
	width: 40vw;
	height: 62vw;
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);	
}
.little1{
	top: 50px;
	left: 9vw; 
}
.little2{
	top: 50px;
	left: 51vw; 
}
.little3{
	top:62vw;
	left: 9vw;
	margin: 55px 0 0 0; 
}
.little4{
	top:62vw;
	left: 51vw;
	margin: 55px 0 0 0; 
}
.little .center{
 	position: absolute;
 	width: 26vw;
 	height: 26vw;
 	border-radius: 50%;
 	background-color: rgba(255,255,255,0.4);
 	top: 5vw;
 	left: 50%;
 	margin: 0 0 0 -13vw;
}
.little .center img{
	display: block;
	position: absolute;
	width: 8vw;
	height: 20vw;
	top: 50%;
	left: 50%;
	margin: -10vw 0 0 -4vw;
}
.little .lbtn{
	display: block;
	position: absolute;
	width: 40vw;
	height: 30vw;
	bottom: 0;
	left: 0;
	text-align: center;
	margin: 0;
	padding: 0;
}
.little .lbtn .lbtns{
	list-style: none;
	display: inline-block;
	width: 6vw;
	height: 10vw;
	margin: 16vw 1vw 0 1vw;
	position: relative;
}
.little .lbtn .lbtns img{
	display: block;
	position: absolute;
	width:6vw;
	height: 6.25vw; 
}
.little .lbtn .lbtns span{
	display: block;
	position: absolute;
	top: 7vw;
	left: 50%;
	width:12vw;
	height: 2vw; 
	font-size: 1px;
	margin: 0 0 0 -6vw;
}
#changeName{
	display: none;
	position: fixed;
	top: 50vh;
	left: 15vw;
	margin: -16vw 0 0 0;
	width: 70vw;
	height: 32vw;
	border-radius: 4px;
	background-color: #E7E7E7;
	overflow: hidden;
	max-width: 450px;
	max-height: 206px;
	z-index: 999;
}
#changeName > div{
	position: absolute;
	  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}
#changeName > div:nth-child(1){
	height: 67%;
	width: 100%;
}
#changeName > div:nth-child(1) > input{
	position: absolute;
	height: 47.6%;
	top: 26.2%;
	width: 80%;
	left: 10%;
	line-height: 200px;
	font-size: 6.2vw;
	color:  #727272;
	padding: 0 20% 0 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
}
#changeName > div:nth-child(1) > img{
	position: absolute;
	height: 6vw;
	top: 53%;
	width: 6vw;
	right: 13.5%;
	margin: -3vw 0  0 0;
	max-width: 38px;
	max-height: 38px;
}
#changeName > div:nth-child(2),
#changeName > div:nth-child(3){
	height: 33%;
	width: 50%;
	bottom: 0;
	border-style: solid;
	border-color: #727272;
	line-height: 200%;
	text-align: center;
	color: #5AA1A5;
	font-size: 5vw;
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
}
#changeName > div:nth-child(2){
	left: 0;
	border-width:2px 2px 0 0;
}
#changeName > div:nth-child(3){
	left: 50%;
	border-width:2px 0 0 0;
}
@media screen and (min-width: 640px){
	#changeName{
		left: 50vw;
		margin: -103px 0 0 -225px;
	}
	#changeName > div:nth-child(1) > img{
		margin: -19px 0 0 0;
	}
	#changeName > div:nth-child(2),
#changeName > div:nth-child(3){
	font-size: 32px;
	line-height: 64px;
}
}
.pressed{
	background-color: #59A2A8 !important;
	color:#FEFFFE !important ;
}



.popup{
  width:100%;
  padding:10px 0 20px;
}
.seprator{
  margin:0;
  border-width:1px 0 0 0;
}
.panel{
  background-color:rgba(0,0,0,.1);
  border-radius:5px;
  width:90%;
  height:125px;
  margin:auto;
  position:relative;
}
.fill{
  width:100%;
  height:100%;
}
.supper-center{
  display:-webkit-flex;
  display:flex;
  vertical-align:baseline;
  text-align:center;
}
.supper-center div,
.supper-center span,
.supper-center img{
  margin:auto; 
}
.modal{
  background:0 0;
  -webkit-box-shadow: 0 0 10px #000;
-moz-box-shadow: 0 0 10px #000;
-o-box-shadow: 0 0 10px #000;
-ms-box-shadow: 0 0 10px #000;
box-shadow: 0 0 10px #000;
}
#toastMessage{
	position: fixed;
	bottom: 20px;
	z-index: 99;
	left: 50%;
	background-color: #000000;
	font-size: 14px;
	padding: 5px;
	border-radius:2px; 
}
