 @charset "utf-8";
/* CSS  */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin: 0;}    
fieldset, img { border: 0; }    
table {border-collapse: collapse;  border-spacing: 0;}    
ol, ul {list-style: none; }    
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal;}    
caption, th {text-align: left;}    
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}    
q:before, q:after {content: '';}    
abbr, acronym {border: 0;}
/* 清除浏览器默认样式*/
*,*:before,*:after{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  /*设置该属性表示，不希望任何元素生产的填充或边框影响盒子的大小*/ 
/* -webkit-touch-callout:none;
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 以上设置用于手机端防止长按选中等问题*/
  cursor: pointer;
}

body{
 background-color: rgba(60,60,60,1);
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin:0;
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,.2)
}
#head{
  width: 100%;
  height: 70px;
  position: relative;
  background-color: rgba(60,60,60,1);
}
#head img{
  display: block;
  width: 17px;
  height: 31px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
}
#head span{
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -30px 0 -20px 0;
  width: 60px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
}
ul{
  display: block;
  width: 100%;
  height: auto;
  background-color: rgba(60,60,60,1);
}
ul#bulb li{
  display: block;
  width: 100%;
  height:200px;
  position: relative;
}
ul#bulb li span{
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top:50%;
  margin: -40px 0 0 -40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
ul#bulb li .lt1{
  left: 25%;
}
ul#bulb li .lt2{
  left: 50%;
}
ul#bulb li .lt3{
  left: 75%;
}
ul#bulb li span img{
  display: block;
  width:100%;
  height:100%;
}
ul#bulb li span .choice{
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 70%;
  top: 0;
  margin: -16px 0 0 0;
  opacity: 0;

  transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  -webkit-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  -moz-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  -ms-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);
  -o-transform:translate3d(0,10px,0) rotate3d(0,1,0,90deg);

  -webkit-transition:opacity 0.3s,-webkit-transform 0.3s;
  transition:opacity 0.3s,transform 0.3s;
}
ul#bulb2{
  width: 100%;
  height: 300px;
  position:relative;
}
ul#bulb2 li{
  display: block;
  position: absolute;
  bottom: 20%;
}
ul#bulb2 #btn1{
  left: 25%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 0 0 -40px;
  opacity: 0;
}
ul#bulb2 #btn2{
  left: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 0 0 -70px;
}
ul#bulb2 #btn3{
  left: 75%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 0 0 -40px;
}
ul#bulb2 li img{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
