 @charset "utf-8";
/* CSS  */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin: 0;}    
fieldset, img { border: 0; }    
table {border-collapse: collapse;  border-spacing: 0;}    
ol, ul {list-style: none; }    
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal;}    
caption, th {text-align: left;}    
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}    
q:before, q:after {content: '';}    
abbr, acronym {border: 0;}
/* 清除浏览器默认样式*/
*,*:before,*:after{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  /*设置该属性表示，不希望任何元素生产的填充或边框影响盒子的大小*/ 
   -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:transparent;
}
html{
  background:linear-gradient(#605DA1,#66ADC0); 

}
body{
  height:100%;
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin:0;
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,.2)
}center
.main{
  height:100%;
 
  }
.main .head{
  height: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.main .head #addtoucharea{
  width: 70px;
  height: 40px;
  position: relative;
}
.main .head #addtoucharea img{
  display: block;
  width: 11px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -5.5px;
}
.main .head span{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 20px;
  line-height: 20px;
  font-size: 25px;
  text-align: center;
  margin:-25px 0 0 -40px;
}
.main .circle{
  width: 250px;
  height: 250px;
  background:linear-gradient(#8189B9,#8298BE,#83A6C4);
  margin:0 auto;
  border-radius: 50%;
  position: relative;
}
.main .circle #logo{
  display: block;
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 162px;
  height: 42px;
  margin: 0 0 0 -81px;
}
.main .circle #power-on{
  display: block;
  width: 90px;
  height: 60px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
  position: absolute;
  top:68%;
  left: 50%;
  margin-left: -45px;
}
.main #powerContainer{
  width: 100%;
  height: 80px;
  position: relative;
}
.main #powerContainer #power{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 58px;
  height:58px;
  border-radius: 50%;
  border: 2px solid #FEFEFE;
  margin: -29px 0 0 -29px;
  opacity: 0.2;
  cursor: pointer;
}
.main #power img{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -13.5px;
  width: 27px;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
}
.main #power:after{
  content: '开关';

  width: 70px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  top:100%;
  left: 50%;
  margin-left: -35px;
  opacity: 1;
}
.main ul{
  display: block;
  width: 80%;
  height:auto;
  margin: 0 auto;
}
.main ul li{
  display: block;
  width: 100%;
  height: 60px;
}
.main ul li:nth-child(5){
  height: 20px;
}
.main ul .useful{
  height: 100px;
  background-color: rgba(0,0,0,0.1);
  position: relative;
  border-radius: 6px;
 /* box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -moz-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;
    -o-box-shadow:0px 1px 4px rgba(0,0,0,0.3),0 0 40px rgba(0,0,0,0.1) inset;*/
}

.main ul li .timer{
  display: block;
  margin: 0 auto;
  padding: 10px 0 0 0 ;

  width: 100px;
  height: 30px;
  text-align: center;
}
.main ul li .brightness{
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
}
.main ul li .temperature{
  display: block;
  width: 60px;
  height: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
}
.main ul li .timer-num{
  display: block;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.slider{
  display: inline-block;
  width:80%;
  margin:auto 4px;
  -webkit-appearance:none;
  height:6px;
  border-radius:5px;
  outline:none;
  cursor: pointer;
}
#brightness{
background:-webkit-linear-gradient(to right,#707070,#B2B2B2,#F6F6F7);
background:-o-linear-gradient(to right,#707070,#B2B2B2,#F6F6F7);
background:linear-gradient(to right,#707070,#B2B2B2,#F6F6F7);
}
#temperature{
background:-webkit-linear-gradient(to right,#F78D1F,#C3B18F,#B1DAED);
background:-o-linear-gradient(to right,#F78D1F,#C3B18F,#B1DAED);
background:linear-gradient(to right,#F78D1F,#C3B18F,#B1DAED);
}
.slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius:50%;
  background:#FFF;
  cursor:pointer;
  transition:background .15s ease-in-out;
  box-shadow:0 0 4px 4px rgba(0,0,0,.2);
  border:none
}

.popup{
  width:100%;
  padding:10px 0 20px;
}
.seprator{
  margin:0;
  border-width:1px 0 0 0;
}
.panel{
  background-color:rgba(0,0,0,.1);
  border-radius:5px;
  width:90%;
  height:125px;
  margin:auto;
  position:relative;
}
.fill{
  width:100%;
  height:100%;
}
.supper-center{
  display:-webkit-flex;
  display:flex;
  vertical-align:baseline;
  text-align:center;
}
.supper-center div,
.supper-center span,
.supper-center img{
  margin:auto; 
}
.modal{
  background:0 0;
  -webkit-box-shadow: 0 0 10px #000;
-moz-box-shadow: 0 0 10px #000;
-o-box-shadow: 0 0 10px #000;
-ms-box-shadow: 0 0 10px #000;
box-shadow: 0 0 10px #000;
}