*{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
html,body{height:100%}
body{background:#fafafa;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;margin:0;color:#fff;text-shadow:1px 1px 0 rgba(0,0,0,.2);word-wrap:break-word}.main{height:100%;background-color:#67bdc5;background:linear-gradient(#605DA1,#67BDC5 60%)}.extra{background-color:#67BDC5}.navbar{height:40px;font-size:20px}.navbar .back{width:60px;height:100%}.navbar .back img{height:50%}.navbar .title{margin-top:-40px}.banner{display:-webkit-flex;display:flex;vertical-align:baseline;width:100%;height:calc(70% - 40px)}.brand{text-align:center;color:#fff}.status{border-radius:50%;color:#fff;background-color:rgba(255,255,255,.2);width:250px;height:250px;position:relative}.state1{position:absolute;top:80px;left:8px}.state2{position:absolute;top:150px;left:24px}.state3{position:absolute;top:180px;left:87px}.state4{position:absolute;top:150px;right:24px}.state5{right:8px}.state5,.state6{position:absolute;top:80px}.state6{left:86px;width:80px}.state6 .large-text{font-size:36px}.title{display:-webkit-flex;display:flex;vertical-align:baseline;text-align:center;height:100%}.text{margin:auto}.control{display:-webkit-flex;display:flex;vertical-align:baseline;width:100%;height:30%}.center{text-align:center;margin:auto}.round{width:60px;height:60px;border:none;display:inline-block;margin-left:8px;margin-right:8px;background:radial-gradient(rgba(255,255,255,.5)0%,rgba(255,255,255,.3)20%,rgba(255,255,255,0)50%)}.round,.round1{box-sizing:border-box;border-radius:50%}
.round1{width:50px;height:50px;border:solid 1px #fff;margin-left:12px;margin-right:12px;margin-top:15px;box-shadow:1px 1px 0 0 rgba(0,0,0,.2)}.icon{width:auto;height:30px;margin:auto}
.supper-center{display:-webkit-flex;display:flex;vertical-align:baseline;text-align:center}
.supper-center div,.supper-center span,.supper-center img{margin:auto}
.fill{width:100%;height:100%}.box{display:inline-block;color:#fff}
.popup{width:100%;padding:10px 0 20px}
.seprator{margin:0;border-width:1px 0 0 0}
.panel{background-color:rgba(0,0,0,.1);border-radius:5px;width:90%;height:125px;margin:auto;position:relative}
.slider-panel{display:-webkit-flex;display:flex;vertical-align:baseline;margin:auto}
.slider{width:80%;margin:auto 4px;-webkit-appearance:none;height:6px;border-radius:5px;background:#ccc;outline:none}
.slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:60px;
  background:transparent;
  cursor:pointer;
  transition:background .15s ease-in-out;
  border:none;
  position:relative;
}
.slider::-webkit-slider-thumb:before{
  display: block;
  content: '';
  width:20px;
  height:20px;
  border-radius:50%;
  background:#FFF;
  cursor:pointer;
  transition:background .15s ease-in-out;
  box-shadow:0 0 4px 4px rgba(0,0,0,.2);
  border:none;
  position: absolute;
  top: 50%;
  left:50%;
  margin: -10px 0 0 -10px;
}
.label{display:inline-block;margin:auto}.harf{width:100%;height:50%}.tab{display:-webkit-flex;display:flex;vertical-align:baseline;width:90%;height:10%;margin:auto}
.kuang{color:#fff;background-color:transparent;border:solid 1px #fff;border-radius:5px;margin:auto;box-shadow:1px 1px 0 0 rgba(0,0,0,.2)}.logo{height:50%;width:auto;margin-top:20px}.off{opacity:.2}.desc p{margin:0}.tag:after{content:"";display:block;border-width:8px;position:absolute;top:-16px;left:calc(50% - 8px);border-style:solid dashed dashed;border-color:transparent transparent rgba(0,0,0,.1)}
.modal{background:0 0}