*{
-webkit-touch-callout:none;
-webkit-tap-highlight-color: transparent;
-webkit-user-select: none;
}
html,body {
	height: 100%
}

body {
	background: #fafafa;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin: 0;
	color: #FFF;
	text-shadow: 1px 1px 0 rgba(0,0,0,.2)
}

.main {
	height: 125%;
	background: linear-gradient(#605DA1,#66ADC0)
}

.navbar {
	height: 40px;
	font-size: 20px
}

.navbar .back {
	width: 60px;
	height: 100%
}

.navbar .back img {
	height: 50%
}

.navbar .title {
	margin-top: -40px
}

.banner {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: baseline;
	width: 100%;
	height: calc(60% - 40px)
}

.brand {
	text-align: center;
	color: #FFF
}

.status {
	border-radius: 50%;
	color: #FFF;
	background-color: rgba(255,255,255,.2);
	width: 250px;
	height: 250px;
	position: relative
}

.state1 {
	position: absolute;
	top: 60px;
	left: 4px
}

.state2 {
	position: absolute;
	top: 108px;
	left: 15px
}

.state3 {
	position: absolute;
	top: 132px;
	left: 65px
}

.state4 {
	position: absolute;
	top: 108px;
	right: 20px
}

.state5 {
	position: absolute;
	top: 60px;
	right: 4px
}

.title {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: baseline;
	text-align: center;
	width: 100%;
	height: 100%
}

.text {
	margin: auto
}

.control {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: baseline;
	width: 100%;
	height: 20%
}

.center {
	text-align: center;
	margin: auto
}

.round {
	width: 40px;
	height: 40px;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px
}

.round,.round1 {
	box-sizing: border-box;
	border-radius: 50%;
	border: solid 1px #FFF
}

.round1 {
	width: 60px;
	height: 60px;
	margin-left: 11px;
	margin-right: 11px;
	margin-top: 15px;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.2)
}

.icon {
	width: auto;
	height: 30px;
	margin: auto
}

.supper-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: baseline;
	text-align: center
}

.supper-center div,.supper-center span,.supper-center img {
	margin: auto
}

.fill {
	width: 100%;
	height: 100%
}

.box {
	display: inline-block;
	color: #FFF
}

.popup {
	width: 100%;
	height: 20%
}

.seprator {
	margin: 0;
	border-width: 1px 0 0 0
}

.panel {
	background-color: rgba(0,0,0,.1);
	border-radius: 5px;
	width: 90%;
	height: 70%;
	margin: 10px auto auto;
	position: relative
}

.slider-panel {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: baseline;
	margin: auto
}

.slider {
	width: 80%;
	margin: auto 4px;
	-webkit-appearance: none;
	height: 6px;
	border-radius: 5px;
	background: #ccc;
	outline: none
}
.slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:60px;
  background:transparent;
  cursor:pointer;
  transition:background .15s ease-in-out;
  border:none;
  position:relative;
}
.slider::-webkit-slider-thumb:before{
  display: block;
  content: '';
  width:20px;
  height:20px;
  border-radius:50%;
  background:#FFF;
  cursor:pointer;
  transition:background .15s ease-in-out;
  box-shadow:0 0 4px 4px rgba(0,0,0,.2);
  border:none;
  position: absolute;
  top: 50%;
  left:50%;
  margin: -10px 0 0 -10px;
}

.label {
	display: inline-block;
	margin: auto;
	color: #FFF
}

.harf {
	width: 100%;
	height: 50%
}

.tab {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	vertical-align: baseline;
	width: 90%;
	height: 10%;
	margin: auto
}

.kuang {
	color: #FFF;
	background-color: transparent;
	border: solid 1px #FFF;
	border-radius: 5px;
	margin: auto;
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.2)
}

.logo {
	height: 50%;
	width: auto;
	margin-top: 20px
}

.off {
	opacity: .2
}

.desc p {
	margin: 0
}

.tag:after {
	content: "";
	display: block;
	border-width: 8px;
	position: absolute;
	top: -16px;
	left: calc(50% - 8px);
	border-style: solid dashed dashed;
	border-color: transparent transparent rgba(0,0,0,.1)
}
.modal{
  background:0 0;
  -webkit-box-shadow: 0 0 10px #000;
-moz-box-shadow: 0 0 10px #000;
-o-box-shadow: 0 0 10px #000;
-ms-box-shadow: 0 0 10px #000;
box-shadow: 0 0 10px #000;
}