 @charset "utf-8";
/* CSS  */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6,pre, form, fieldset, input, textarea, p, blockquote, th, td {padding: 0; margin: 0;}    
fieldset, img { border: 0; }    
table {border-collapse: collapse;  border-spacing: 0;}    
ol, ul {list-style: none; }    
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal;}    
caption, th {text-align: left;}    
h1, h2, h3, h4, h5, h6 {font-weight: normal;font-size: 100%;}    
q:before, q:after {content: '';}    
abbr, acronym {border: 0;}
/* 清除浏览器默认样式*/
*,*:before,*:after{
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  /*设置该属性表示，不希望任何元素生产的填充或边框影响盒子的大小*/ 
/* -webkit-touch-callout:none;
 -webkit-tap-highlight-color: transparent;
 -webkit-user-select: none;
 以上设置用于手机端防止长按选中等问题*/
  cursor: pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:transparent;
}


html{
  width: 100%;
  min-height: 100%;
  background:linear-gradient(#605DA1,#66ADC0);
  font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
  color:#FFF;
  text-shadow:1px 1px 0 rgba(0,0,0,.2)
}
*:focus{
  outline: none;
}
#head{
  width: 100%;
  height: 40px;
  margin: 10px 0 0 0;
  position: relative;
}
#head #back{
  display: block;
  width: 11px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 24.5px 10px 24.5px;
}
#head #logo{
  display:block;
  width: 92px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -11.5px 0 0 -46px;
  overflow: hidden;
}
#sendMes{
  width: 100%;
  min-width: 265px;
  height: auto;
  text-align: center;
}
#sendMes .sr{
  display: inline-block;
  width: 90%;
  height: 60px;
  min-width: 180px;
  line-height: 60px;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  text-align: center;
}
#sendMes .sr span{
  font-size: 12px;
  font-weight: normal;
}
#sendMes .sr input{
  display: inline-block;
  width: 75%;
  height: 30px;
  background-color:inherit;
  outline: none;
  border: none;
  line-height: 30px;
  padding: 0 0 0 40px;
  color: #fff;
  font-size: 16px;
  -webkit-user-select: text;
}
#sendMes #send::before{
  content: '发送:';
  display: inline-block;
  width: 40px;
  height: 30px;
  font-size: 16px;
  font-weight: normal;
  text-align: bottom;
  margin:6px -40px 0 0;
  color: #B4C2CE;
}
#sendMes #send img{
  display: block;
  position: absolute; 
  width: 75%;
  height: 16px;
  left: 12%;
  top: 50%;
  margin: 0 0 0 0;
}
#sendMes #receive::before{
  content: '接收:';
  display: inline-block;
  width: 40px;
  height: 30px;
  font-size: 16px;
  font-weight: normal;
  margin:6px -40px 0 0;
  color: #B4C2CE;
}
#sendMes #receive img{
 display: block;
  position: absolute; 
  width: 75%;
  height: 16px;
  left: 12%;
  top: 50%;
}
#sendMes #send #sendBtn{
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 88%;
  padding: 8px 5px 8px 5px;
  margin: -20px  0 0 0;
  border: 1px solid #C9D8E5;
  border-radius: 50%;
}
#sendMes #receive #receiveBtn{
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 88%;
  padding: 8px 2px 8px 2px;
  margin-top: -20px;
  border: 1px solid #C9D8E5;
  border-radius: 50%;
  -webkit-transition:opacity 0.3s,-webkit-transform 0.3s;
  transition:transform 0.3s;
  transform: rotate3d(0,0,1,0);
  -webkit-transform: rotate3d(0,0,1,0);
  -moz-transform: rotate3d(0,0,1,0);
  -ms-transform: rotate3d(0,0,1,0);
  -o-transform: rotate3d(0,0,1,0);
}
#control{
  width: 100%;
  height: auto;
  text-align: center;
}
#control li{
  display: inline-block;
  width: 90%;
  height: 60px;
   min-width: 220px;
   line-height: 30px;
  position: relative;
}
#control #con img{
  display: block;
  position: absolute;
  width: 27px;
  height: 40px;
  top:50%;
  left: 5%;
  margin: -20px 0 0 0;
}
#control #con #container{
  display: block;
  width: 80%;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 5%;
  margin:-20px 0 0 30px;
  line-height: 40px;
}

#control #con #container #slider{
  display: inline-block;
  width:70%;
  margin:auto 4px;
  -webkit-appearance:none;
  height:6px;
  border-radius:5px;
  background:#ccc;
  outline:none;
  cursor: pointer;
}
#control #con #container #slider::-webkit-slider-thumb{
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border-radius:50%;
  background:#FFF;
  cursor:pointer;
  transition:background .15s ease-in-out;
  box-shadow:0 0 4px 4px rgba(0,0,0,.2);
  border:none
}
#sendMes #remind{
  position: relative;
}
#sendMes #remind #remindMes{
  display: inline-block;
  position: absolute;
  width: 100px;
  height: 30px;
  line-height: 30px;
  top: 50%;
  left: 50%;
  margin: -15px 0 0 -50px;
  background-color: #000000;
  font-size: 15px;
  border-radius: 2px;
  opacity: 0;
  z-index: 99;
}

#loginfo{
  display:none;
  width:90%;
  margin:0 auto;
  text-align: center;
}
#loginfo li{
  display: inline-block;
  width: 100%;
  font-size: 12px;
}