*{
-webkit-tap-highlight-color: transparent;
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none; 
}
html{
	margin: 0;
	padding: 0;
	background:linear-gradient(#605ca1,#58a2a7);
	width: 100%;
	min-height: 100%;
}

body{
	width: 100%;
	position: relative;
	background: transparent;
	margin: 0;
	padding: 0;
  	font-family:"Arial";
  	margin:0;
}
span{
	display: block;
	position: relative;
	width: 92%;
	left: 4%;
	/*text-align: center;*/
	font-weight: 700px;
	 box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  padding:  10px 0 10px 0; 
  word-break:break-all;
  color: #D8DDE7; 
  line-height: 20px;
}
span:nth-child(1){
	height: 12vh;
	line-height: 12vh;
	font-size: 5vh;
	text-align: center;
}
span i{
	font-style: normal;
	font-size: 20px;
	color:#FFF;
	/*font-weight: bold;*/
}
span a{
	color: #AD3A3F;
}